---
import PagesLinks from "./PagesLinksPost.astro";
import "../../css/Header.css";
---

<header class="header">
  <div class="left">
    <PagesLinks href="" name="Nishiyuu" />
  </div>
  <div class="right">
    <PagesLinks href="../" name="Home" />
    <PagesLinks href="../projects" name="Projects" />
  </div>
</header>
