---
import Socialinks from "./SocialLinks.astro";
import "../../css/Footer.css";
---

<footer>
  <div class="photo">
    <Socialinks
      link="https://github.com/Nishiyuuu"
      icon="./images/github-logo.png"
    />
    <Socialinks
      link="https://t.me/Nishiyyu"
      icon="./images/telegram-logo.png"
    />
    <Socialinks
      link="https://www.instagram.com/wlad_bitchkovskij/"
      icon="./images/instagram-logo.png"
    />
  </div>
</footer>
