---
import PagesLinks from "./PagesLinks.astro";
import "../../css/HeaderFooter.css";
---

<header class="header">
  <div class="left">
    <PagesLinks href="" name="Nishiyuu" />
  </div>
  <div class="search">
    <input type="text" class="search-input" placeholder="Search..." />
  </div>
  <div class="right">
    <PagesLinks href="/" name="Home" />
    <PagesLinks href="./projects" name="Projects" />
  </div>
</header>
