---
import PagesLinks from "./pages-links.astro";
import "../../css/HeaderFooter.css";
const gg = 7;
---

<header class="header">
  <div class="left">
    <PagesLinks href="" name="Nishiyuu" />
  </div>
  <div class="right">
    <PagesLinks href="/" name="Home" />
    <PagesLinks href="/projects" name="Projects" />
  </div>
</header>
