---
import PagesLinks from "./pages-links.astro"
import '../../css/HeaderFooter.css'

---
<div class = "header">
    <div class="left">
        <PagesLinks href = "" name = "Nishiyuu"/>
    </div>
    <div class = "right">
        <PagesLinks href = "" name = "Home"/>
        <PagesLinks href = "" name = "Projects"/>
    </div>
</div>