---
import { Image } from 'astro:assets';
import '../../css/social-links.css'
const Astro = {
    props: {
        link: String,
        icon: String
    }
}

const { link, icon } = Astro.props;
---
<a href = {link} target="_blank">
    <Image src = {icon} alt="social images" />
</a>
