---
import { Image } from 'astro:assets';
import '../../css/social-links.css'
const { link, icon } = Astro.props;
---
<a href = {link} target="_blank">
    <Image src = {icon} alt="social images" width={50} height={50} />
</a>
