---
import HeaderFooter from "./components/Header.astro";
import Footer from "./components/Footer.astro";
import Head from "./components/Head.astro";
import ProjectsList from "./components/ProjectsList.astro";
import "../css/index.css";
import '../css/ProjectsList.css'
---

<html lang="en">
  <head>
    <Head title="Home" iconhref="/images/logo.ico"/>
  </head>
  <body>
    <HeaderFooter />
    <div class="projectlist">
    <ProjectsList name="Goose game with GoIt" description="This is my first projects" image = "/images/project_1.png" links ="/posts/P1"/>
    <ProjectsList name="Todo site" description="Todo site with html css js" image = "/images/project_2.png" links ="/posts/P2"/>
    </div>
    <Footer />
  </body>
</html>
