---
import HeaderFooter from "./components/Header.astro";
import Footer from "./components/Footer.astro";
import Head from "./components/Head.astro";
import "../css/index.css";
---

<html lang="en">
  <head>
    <Head title="Home" iconhref="/images/logo.ico"/>
  </head>
  <body>
    <HeaderFooter />
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt recusandae sequi molestias earum maxime magnam asperiores ullam, laudantium voluptatem eligendi cumque veniam quam eos labore minus beatae reiciendis! Dignissimos, laborum.</h1>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt recusandae sequi molestias earum maxime magnam asperiores ullam, laudantium voluptatem eligendi cumque veniam quam eos labore minus beatae reiciendis! Dignissimos, laborum.</h1>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt recusandae sequi molestias earum maxime magnam asperiores ullam, laudantium voluptatem eligendi cumque veniam quam eos labore minus beatae reiciendis! Dignissimos, laborum.</h1>
    <Footer />
  </body>
</html>
