---
import Head from "./components/Head.astro";
import Footer from "./components/Footer.astro";
import "../css/index.css";
import ProjectsList from "./components/ProjectsList.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Head title="Projects" />
  </head>
  <body>
    <div class="project-list">
      <ProjectsList
        name="Goose game with GoIt"
        ,
        description="This is my first 2d game and my first project!!!"
        ,
        image="./images/projects/project_1.png"
        ,
        links="sbjv"
      />

      <ProjectsList
        name="Goose game with GoIt"
        ,
        description="This is my first 2d game and my first project!!!"
        ,
        image="./images/projects/project_1.png"
        ,
        links="sbjv"
      />

      <ProjectsList
        name="Goose game with GoIt"
        ,
        description="This is my first 2d game and my first project!!!"
        ,
        image="./images/projects/project_1.png"
        ,
        links="sbjv"
      />

      <ProjectsList
        name="Goose game with GoIt"
        ,
        description="This is my first 2d game and my first project!!!"
        ,
        image="./images/projects/project_1.png"
        ,
        links="sbjv"
      />

      <ProjectsList
        name="Goose game with GoIt"
        ,
        description="This is my first 2d game and my first project!!!"
        ,
        image="./images/projects/project_1.png"
        ,
        links="sbjv"
      />

      <ProjectsList
        name="Goose game with GoIt"
        ,
        description="This is my first 2d game and my first project!!!"
        ,
        image="./images/projects/project_1.png"
        ,
        links="sbjv"
      />

      <ProjectsList
        name="Goose game with GoIt"
        ,
        description="This is my first 2d game and my first project!!!"
        ,
        image="./images/projects/project_1.png"
        ,
        links="sbjv"
      />

      <ProjectsList
        name="Goose game with GoIt"
        ,
        description="This is my first 2d game and my first project!!!"
        ,
        image="./images/projects/project_1.png"
        ,
        links="sbjv"
      />

      <ProjectsList
        name="Goose game with GoIt"
        ,
        description="This is my first 2d game and my first project!!!"
        ,
        image="./images/projects/project_1.png"
        ,
        links="sbjv"
      />
    </div>

    <Footer />
  </body>
</html>
