---
import Head from "./components/Head.astro";
import HeaderSearch from "./components/HeaderSearch.astro";
import Footer from "./components/Footer.astro";
import "../css/index.css";
import ProjectsList from "./components/ProjectsList.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Head title="Projects" />
  </head>
  <body>
    <HeaderSearch />

    <div class="project-list">
      <ProjectsList
        name="Goose game with GoIt"
        ,
        description="This is my first 2d game and my first project!!!"
        ,
        image="./images/projects/project_1.png"
        ,
        links="sbjv"
      />

      <ProjectsList
        name="Goose game with GoIt"
        ,
        description="This is my first 2d game and my first project!!!"
        ,
        image="./images/projects/project_1.png"
        ,
        links="sbjv"
      />

      <ProjectsList
        name="Goose game with GoIt"
        ,
        description="This is my first 2d game and my first project!!!"
        ,
        image="./images/projects/project_1.png"
        ,
        links="sbjv"
      />

      <ProjectsList
        name="Goose game with GoIt"
        ,
        description="This is my first 2d game and my first project!!!"
        ,
        image="./images/projects/project_1.png"
        ,
        links="sbjv"
      />

      <ProjectsList
        name="Goose game with GoIt"
        ,
        description="This is my first 2d game and my first project!!!"
        ,
        image="./images/projects/project_1.png"
        ,
        links="sbjv"
      />

      <ProjectsList
        name="Goose game with GoIt"
        ,
        description="This is my first 2d game and my first project!!!"
        ,
        image="./images/projects/project_1.png"
        ,
        links="sbjv"
      />

      <ProjectsList
        name="Goose game with GoIt"
        ,
        description="This is my first 2d game and my first project!!!"
        ,
        image="./images/projects/project_1.png"
        ,
        links="sbjv"
      />

      <ProjectsList
        name="Goose game with GoIt"
        ,
        description="This is my first 2d game and my first project!!!"
        ,
        image="./images/projects/project_1.png"
        ,
        links="sbjv"
      />

      <ProjectsList
        name="Goose game with GoIt"
        ,
        description="This is my first 2d game and my first project!!!"
        ,
        image="./images/projects/project_1.png"
        ,
        links="sbjv"
      />
    </div>
    <script type="module">
      document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.querySelector('.search');
    
        if (!searchInput) {
          console.log("Search input not found");
          return;
        }
    
        const projects = document.querySelectorAll('.project');
    
        searchInput.addEventListener('input', function() {
            filterProjects(searchInput.value.trim().toLowerCase());
        });
    
        searchInput.addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault(); // Щоб не відправляло форму
                filterProjects(searchInput.value.trim().toLowerCase());
            }
        });
    
        function filterProjects(searchTerm) {
            projects.forEach(project => {
                const title = project.querySelector('h3').textContent.toLowerCase();
                const description = project.querySelector('p').textContent.toLowerCase();
                if (title.includes(searchTerm) || description.includes(searchTerm)) {
                    project.style.display = 'block';
                } else {
                    project.style.display = 'none';
                }
            });
        }
      });
    </script>
    <Footer />
  </body>
</html>
