---
import ProjectsLayout from "../layout/ProjectsLayout.astro";
import ProjectsList from "./components/ProjectsList.astro";
import "../css/ProjectsList.css"
---
<div class = "project-list">
    <ProjectsLayout>
        <ProjectsList name="Goose game with GoIt" description="This is my first projects" image = "/images/projects/project_1.png" links =""/> 
        <ProjectsList name="Goose game with GoIt" description="This is my first projects" image = "./images/projects/project_1.png" links =""/> 
        <ProjectsList name="Goose game with GoIt" description="This is my first projects" image = "./images/projects/project_1.png" links =""/> 
        <ProjectsList name="Goose game with GoIt" description="This is my first projects" image = "./images/projects/project_1.png" links =""/> 
        <ProjectsList name="Goose game with GoIt" description="This is my first projects" image = "./images/projects/project_1.png" links =""/> 
        <ProjectsList name="Goose game with GoIt" description="This is my first projects" image = "./images/projects/project_1.png" links =""/> 
        <ProjectsList name="Goose game with GoIt" description="This is my first projects" image = "./images/projects/project_1.png" links =""/>    
</div>

