.header {
    background-color: #150329;
    border: 2px solid #DAF7A6;
    border-radius: 30px;
    padding: 10px;
    transition: 0.5s;
    display: flex;
}

.left {
    margin-right: auto;
    padding: 15px;
}

.right {
    margin-left: auto;
    padding: 15px;
}

.search {
    border: 2px solid #DAF7A6;
    border-radius: 30px;
    padding: 4px;
    background-color: #DAF7A6;
    color: #150329;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
    display: flex;
}

.search-input {
    border: 2px solid #DAF7A6;
    border-radius: 30px;
    padding: 4px;
    background-color: #DAF7A6;
    color: #150329;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
    display: flex;
}

.hidden {
    display: none;
}