.pages_links {
    text-decoration: none;
    color: #150329;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid #DAF7A6;
    border-radius: 30px;
    padding: 10px;
    background-color: #DAF7A6;
    margin: 10px;
    transition: 0.5s;
}

.pages_links:hover {
    background-color: #150329;
    color: #DAF7A6;
}