---
import Head from "../pages/components/Head.astro";
import HeaderSearch from "../pages/components/HeaderSearch.astro";
import Footer from "../pages/components/Footer.astro";
import "../css/index.css";
import "../css/ProjectsList.css";
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/images/logo.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>projects</title>
  </head>
  <body>
    <HeaderSearch />
    <div class = "slot">
        <slot />
    </div>
    <Footer />
  </body>
</html>
