---
import HeaderSearch from "../pages/components/HeaderSearch.astro";
import Footer from "../pages/components/Footer.astro";
import '../css/index.css'

---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projects</title>
  <link rel="icon" href="/images/logo.ico">
</head>
<body>
  <HeaderSearch />
  <div class = "projectlist">
  <slot />
  </div>
  <Footer />
</body>
</html>