---
import HeaderSearch from "../pages/components/HeaderSearch.astro";
import Footer from "../pages/components/Footer.astro";
import "../css/index.css";
import "../css/ProjectsList.css";
---
<html lang="en">
  <head>
    <title>Projects1</title>
    <icon rel="icon" href="/images/logo.ico" />
  </head>
  <body>
    <HeaderSearch />
    <div class = "slot">
        <slot />
    </div>
    <Footer />
  </body>
</html>
